<!-- *** TODO if else statement  -->
<!-- Show this view if profile is set to candidate -->
<section>
  <div class="jumbotron">
    <div class="find">
      <button class="btn btn-primary">Find Referrals</button>
    </div>
  </div>
  <div class="container ">
    <div class="row profile">
      <div class="col-xs-4">
        <%= image_tag @current_user.profile.image %>    
      </div>
      <div class="col-xs-8">
        <h2><%= "#{@current_user.profile.full_name}"  %></h2>
        <h3>Title Desired</h3>
        <p> saying</p>
        <%= button_to "Edit Profile", edit_profile_path(@current_user.profile), class:"btn btn-primary", method: :get %> 
      </div> 
    </div>

    <h1>Notifications</h1>
    <hr>
    <div class="row notifications">
      <!-- *** TODO for loop where friendship status is estabilished and event date is suggested -->
      <div class="col-xs-3">
        <%= image_tag "profiledefault" %>  
      </div>
      <div class="col-xs-7">
        <h2>Full Name</h2> <p>date sent</p>
        <p>time since date created field</p>
        
      </div>
      <div class="col-xs-2">
        <button class="btn btn-primary">Accept Time</button>
        <br>
        <button class="btn btn-danger">Decline Time</button>
      </div>
    </div>
    <hr>

    <div class="row notifications">
    
      <!-- *** TODO for loop where friendship status is established show all messages newest on top -->
      <div class="col-xs-3">
        <%= image_tag "profiledefault" %> 
      </div>
      <div class="col-xs-7">
        <h2>Full Name</h2> <p>Show Title</p>
        <p>time since date created field</p>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-primary">See Message</button>
      </div>
    </div>
    
  </div>
</section>

<!-- *** TODO show this view if profile is set to sourcer -->
<section>
  <div class="container">
    <h1>Notifications</h1>
    <hr>
    <h2>Pending Requests</h2>
    <!-- show pending firendship where current user is under friend_id; this prevents users who sent the request from seeing their own request as pending and changing the confirmation status; Status should only be available to the the person recieving the request-->
    <% for friendship in Friendship.where(status: "pending", friend_id: current_user.id) %>
    <div class="row notifications">
        <div class="col-xs-3 center">
          <%= image_tag friendship.user.profile.image %> 
          <%= button_to "View Profile", profile_path(friendship.user.profile), class:"btn btn-primary", method: :get %>
        </div>
        <div class="col-xs-7">
          <h3><%=friendship.user.profile.full_name %> requested a meeting</h3>
    <!-- *** TODO limit body to 4 lines of text with accordion to see more -->
          <p>Body of message</p> 
          <p>Desired role: </p>
    <!-- show only if provided -->
          <p>Job URL</p>
        </div>
        <div class="col-xs-2">

          <%= button_to "Accept Request", friendship, :class =>"btn btn-primary", :method => :put %>
         <br>
          <%= button_to "Decline Request", friendship, :class =>"btn btn-danger", :method => :delete %>
        </div>
      </div>
    <% end %>
    </div>

  </div>
</section>