<section>
  <div class="container">
    <div class="row col-xs-10 col-xs-offset-1">
      
      <div class="col-xs-5 row">
        <!-- this loop finds where the user is part of a friendship that has been confirmed -->
        <% for friendship in Friendship.where(status: "confirm").where('(friend_id=?) OR (user_id=?)', current_user.id, current_user.id) %>

          <!-- this loop takes the friendships that were confirmed that have the current user in them, and find all the messages with that id in the firdship_id column of the message -->
          <% for message in Message.where(friendship_id: @friendship) %>
            <% if (message.blank?)%>
            <div class="row">
              <h2>you have no messages</h2>
              <% end %>
            </div>
            <div class="row"><a href="#" onclick="toggle_visibility('message<%=message.id %>');">
              <div class="col-xs-5 center">
                <%= image_tag message.user.profile.image %> 
              </div>
              <div class="col-xs-7">
                <h3><%= message.author %></h3>
                <h4><%= message.title %></h4>
              </div></a>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-7">
        <% for friendship in Friendship.where(status: "confirm").where('(friend_id=?) OR (user_id=?)', current_user.id, current_user.id) %>
          <% for message in Message.where(friendship_id: @friendship) %>
              <div id="message<%=message.id %>">
                <p><%= message.created %></p>
                <p><%= message.body %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</section>


<script type="">
  function toggle_visibility(id) {
     var e = document.getElementById(id);
     if(e.style.display == 'block')
        e.style.display = 'none';
     else
        e.style.display = 'block';
  }
</script>