<section>
  <div class="container">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Edit your profile</h1>
      <%= form_for @profile do |p| %>
        <%= p.label "what type of seeker are you?" %> 
        <p>Candidate<%= p.radio_button :seeker, "candidate", :value => "candidate" %></p>
        <p>Sourcer<%= p.radio_button :seeker, "sourcer", :value => "sourcer" %>
        <br></p>
        <%= p.label :firstname %> 
        <%= p.text_field :firstname, placeholder: "First Name", class:'form-control', autofocus: true %> 
        <br>
        <%= p.label :lastname %> 
        <%= p.text_field :lastname, placeholder: "Last Name", class:'form-control' %> 
        <br> 
        <%= p.label :role %>
        <%= p.text_field :role, placeholder: "Your Role desired/job title", class:'form-control'%> 
        <br> 
        <%= p.label :city %>
        <%= p.text_field :city, placeholder: "City", class:'form-control'%> 
        <br> 
        <%= p.label :state %> 
        <%= p.text_field :state, placeholder: "State", class:'form-control' %> 
        <br> 
        <%= p.label :linkedin %> 
        <%= p.text_field :linkedin, placeholder: "url to your linked in profile", class:'form-control' %> 
        <br> 
        <%= p.label :bio %> 
        <%= p.text_area :bio, placeholder: "Short Bio about yourself", class:'form-control' %> 
        <br> 
        <%= p.label :image %>
        <%= p.text_field :image, placeholder: "Find a picture you like, right click and hit copy image url", class:'form-control'%> 
        <br> 
        <div class="text-right">
          <%= p.submit "Update Profile", class: 'btn btn-primary' %> 
        </div>
        <% end %>
      
    </div>
    
  </div>  
</section>
