<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
      <%= form_tag profiles_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
     
      <% end %>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Sourcer City </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Sourcer Role</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Company</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-xs-8">
 

<!--       <% for profile in @profiles %>
        <li>
          <%= link_to profile.full_name, profile_path(profile) %>
          <%= link_to profile.city, profile_path(profile) %>
          <%= link_to profile.full_name, profile_path(profile) %>

        </li>
      <% end %> -->
<table class="table thumbnail" width:"100%">
          <tr>
            <th></th>
            <th><%= sortable 'full_name' %></th>
            <th><%= sortable 'city' %></th>
            <th><%= sortable 'roll' %></th>
          </tr>
          <% @profiles.each do |profile| %>
          <% puts profile %>
            <tr>
              <td>
                <%= link_to profile_path(profile) do%>
                <img src="<%=profile.image %>">
                <% end %>
              </td>
              <td>
                <%= link_to profile_path(profile) do%>
                <%=profile.firstname%>
                <% end %> 
              </td>
              <td>
                <%= link_to profile_path(profile) do%>
                <%=profile.city%>
                <% end %>
              </td>
              <td>
                <%= link_to profile_path(profile) do%>
                <%=profile.role%>
                <% end %>
              </td>
            </tr >
          <%end%>
        </table>
        
      </div>
      
    </div>

    
  </div>
</section>
