<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 searchnav">
        <h4>Search by Keyword</h4>
        <%= form_tag profiles_path, :method => 'get', :id => "profiles_search" do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>

          <p>
            <%= text_field_tag :search, params[:search], placeholder: "Search Profiles", class: "form-group" %>
          </p>
          <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>

        <% end %>
      </div>
      <div class="col-xs-8">
        <div id="profiles"><%= render 'profiles' %></div>

            <table class="table thumbnail" width:"100%">
              <tr>
                <th></th>
                <th><%= sortable 'firstname' %></th>
                <th><%= sortable 'lastname' %></th>
                <th><%= sortable 'city' %></th>
                <th><%= sortable 'role' %></th>
                <th><%= sortable 'comapny' %></th>
              </tr>
              <% if current_user.profile.seeker == 'candidate' %>
                <% for profile in @profiles.where(seeker: "sourcer") %>
                  <tr>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <img src="<%=profile.image %>">
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.firstname%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.lastname%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.city%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.role%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.company%>
                      <% end %>
                    </td>
                  </tr >
                <%end%>
              <% elsif current_user.profile.seeker == 'sourcer' %>
                <% for profile in @profiles.where(seeker: "candidate") %>
                  <tr>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <img src="<%=profile.image %>">
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.firstname%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.lastname%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.city%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.role%>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to searched_path(profile) do%>
                      <%=profile.company%>
                      <% end %>
                    </td>
                  </tr >
                <%end%>
              <% end %>
            </table>
            <%= will_paginate @profiles %>
      </div>

    </div>


  </div>
</section>
