<!-- condition showing of profile -->
<% if @profile.seeker == 'candidate' %>
  <!-- if profile belongs to a candidate,  -->
  <section>
    <div class="container compress">
      <div class="row">
        <div id="profileside" class="col-xs-4 center profile-image">
            <%= image_tag @profile.image, class:"profile-image" %>
        </div>
        <div class="col-xs-6 left name-title">
          <% if @profile.full_name.blank? %>
          <h2>Please update name</h2>
          <%else%>
          <h3 class="name"><%= "#{@profile.full_name}"%></h3>
          <h3 class="title"><%= "#{@profile.role}" %></h3>
          <%end%>
        </div>
      <div class="col-xs-2 center add-friend">
      <% if session[:user_id] != @profile.user.id %>

        <!-- if user is not firends offer creation of friendship -->
        <% for friendship in Friendship.where.not(status: ["confirm", "pending", "ignore"]).where.not('(friend_id=?) OR (user_id=?)', current_user.id, current_user.id).where.not('(friend_id=?) OR (user_id=?)', @profile.user_id, @profile.user_id) %>
          <%= link_to "Connect", friendships_path(:friend_id => @profile.user.id), :method => :post, class:"btn btn-danger " %>
        <% end %>

        <!--  if user is already friends alert already friends  -->
        <% for friendship in Friendship.where(status: "pending", friend_id: @current_user.id, user_id: @profile.user_id) %>
          <p>They have requested a connection that is waiting for approval. Please see your notifications.</p>
        <% end %>
        <% for friendship in Friendship.where(status: "pending", friend_id: @profile.user_id, user_id: @current_user.id) %>
          <p>your requested connection is waiting for approval</p>
        <% end %>
        <% for friendship in Friendship.where(status: "confirm").where('(friend_id=?) OR (user_id=?)', current_user.id, current_user.id).where('(friend_id=?) OR (user_id=?)', @profile.user_id, @profile.user_id) %>
          <p>you are already connected</p>
          <% for message in Message.where(friendship_id: friendship) %>
          <!-- <p><%=message.id%></p> -->
          <%end%>
        <% end %>
        
        

        <% else %>
         <%= button_to "Edit Profile", edit_profile_path, class:"btn btn-danger", method: :get %>
        <%end%>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12 location">
        <h4>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= "#{@profile.city} #{","} #{@profile.state}" %>
        </h4>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12">
        <h3>Skills</h3>
      </div>
    </div><!-- end row -->
      <div class="row">
        <div class="col-xs-12 employments indent">
          <p class="e"><%=@profile.skills%></p>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
        <h3>Bio</h3>
      </div>
    </div><!-- end row -->
      <div class="row">
        <div class="col-xs-12 employments indent">
          <p class="e"><%=@profile.bio%></p>
        </div>
      </div><!-- end row -->
      <div class="row ">
        <div class="col-xs-12">
          <h3>Employment History</h3>
        </div>
      </div><!-- end row -->
      <div class="row">
        <% @profile.employments.each do |e| %>
        <div class="row employments industry">
          <div class="indent result-detail">
            <div class="col-xs-8">

            <%= link_to employment_path(e) do%>
            <h4><%=e.title%> at:</h4>
            <!-- <div class="row"> -->
              <h4><%= e.company %></h4>

              <!-- <div class="col-xs-8"> -->
                <h5>Location: <%=e.city%>, <%= e.state %></h5>
                <h5>Industry: <%=e.industry %></h5>
                <%= link_to employment_path(e) do%>
                <h5>Summary: <%=e.summary%></h5>
                <% end %>
              </div>

              <div class="col-xs-4">
                <% if session[:user_id] = @profile.user.id %>
                <%= link_to "Edit this Job", edit_employment_path(e), class:"btn btn-danger pull-right", id:"show-edit" %>
                <% end %>
              </div>
            </div>
            <!-- end row -->
            <% end %>
          </div>
          <%end%>
        </div><!-- end row employments industry -->
          <div class="row">
            <div class="col-xs-12 center">
              <% if session[:user_id] = @profile.user.id %>
                <%= link_to "Add Employment", new_employment_path, class:"btn btn-primary pull-right", id:"show" %>
              <% end %>
            </div>
        </div>
      </div>
</section>
<% elsif @profile.seeker == 'sourcer' %>
  <!-- if profile belongs to a sourcer,  -->
  <section>
    <div class="container compress">
      <div class="row">
        <div id="profileside" class="col-xs-4 center profile-image">
            <%= image_tag @profile.image, class:"profile-image" %>
        </div>
        <div class="col-xs-6 left name-title">
          <% if @profile.full_name.blank? %>
          <h2>Please update name</h2>
          <%else%>
          <h3 class="name"><%= "#{@profile.full_name}"%></h3>
          <h3 class="title"><%= "#{@profile.role}" %></h3>
          <%end%>
        </div>
      <div class="col-xs-2 center add-friend">
        <% if session[:user_id] != @profile.user.id %>
          <%= link_to "Connect", friendships_path(:friend_id => @profile.user.id), :method => :post, class:"btn btn-danger " %>
        <!-- TODO if user is already friends alert already friends  -->
        <!-- if user is not firends offer creation of friendship -->
        <%else%>
         <%= button_to "Edit Profile", edit_profile_path, class:"btn btn-danger", method: :get %>
        <%end%>
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col-xs-12 company">
        <h4>Current Company:
        <%= @profile.company %></h4>
        <h5>Department: <%=@profile.department %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 location">
        <h4>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= "#{@profile.city} #{","} #{@profile.state}" %>
        </h4>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12">
        <h3>Ideal Candidate:</h3>
        <p class="e"><%=@profile.bio%></p>
      </div>
    </div><!-- end row -->
    </div>
  </section>
<% else %>
<!-- if profile belongs to someone who hasn't filled this section out, don't display content,  -->
  <section>
    <!-- if profile belongs to the current user and has not filled out the seeker field, they see this message -->
      <% if current_user.id = @profile.user.id %>
     <div class="row">
       <div class="col-xs-12 center">
         <section>
            <div class="pending-seeker-status">
               <h1>To continue, please update your profile and select whether you are a sourcer or candidate.</h1>
               <%= button_to "Update Profile", edit_profile_path(@current_user.profile), id:"edit-profile", class:"btn btn-primary", method: :get %>
            </div>
         </section>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
