<!-- condition showing of profile -->
<% if current_user.profile.seeker == 'candidate' %>
  <!-- if profile belongs to a candidate,  -->
  <section>
    <div class="container compress">
      <div class="row">
        <div id="profileside" class="col-xs-4 center profile-image">
            <%= image_tag @profile.image, class:"profile-image" %>
        </div>
        <div class="col-xs-6 left name-title">
          <% if @profile.full_name.blank? %>
          <h2>Please update name</h2>
          <%else%>
          <h3 class="name"><%= "#{@profile.full_name}"%></h3>
          <h3 class="title"><%= "#{@profile.role}" %></h3>
          <%end%>
        </div>
      <div class="col-xs-2 center add-friend">
        <% if session[:user_id] != @profile.user.id %>
          <%= link_to "Add Friend", friendships_path(:friend_id => @profile.user.id), :method => :post, class:"btn btn-danger " %>
        <!-- TODO if user is already friends alert already friends  -->
        <!-- if user is not firends offer creation of friendship -->
        <%else%>
         <%= button_to "Edit Profile", edit_profile_path, class:"btn btn-danger", method: :get %>
        <%end%>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12 location">
        <h4>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= "#{@profile.city} #{","} #{@profile.state}" %>
        </h4>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12">
        <h3>Bio</h3>
      </div>
    </div><!-- end row -->
      <div class="row">
        <div class="col-xs-12 employments indent">
          <p class="e"><%=@profile.bio%></p>
        </div>
      </div><!-- end row -->
      <div class="row ">
        <div class="col-xs-12">
          <h3>Employment History</h3>
        </div>
      </div><!-- end row -->
      <div class="row">
        <% @profile.employments.each do |e| %>
        <div class="col-xs-3 employments industry">
          <div class="indent">
            <%= link_to employment_path(e) do%>
            <%=e.industry %><br>
            <%=e.title%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3 employments industry">
          <%= link_to employment_path(e) do%>
          <span class="glyphicon glyphicon-map-marker" id="location-history" aria-hidden="true"></span>
          <%=e.city%>, <%= e.state %>
          <% end %>
        </div>
        <div class="col-xs-6 employments">
          <%= link_to employment_path(e) do%>
          <%=e.summary%>
          <% end %>
        </div>
        <%end%>
      </div>
    </div>
  </section>
<% elsif current_user.profile.seeker == 'sourcer' %>
  <!-- if profile belongs to a sourcer,  -->
  <section>
    <div class="container compress">
      <div class="row">
        <div id="profileside" class="col-xs-4 center profile-image">
            <%= image_tag @profile.image, class:"profile-image" %>
        </div>
        <div class="col-xs-6 left name-title">
          <% if @profile.full_name.blank? %>
          <h2>Please update name</h2>
          <%else%>
          <h3 class="name"><%= "#{@profile.full_name}"%></h3>
          <h3 class="title"><%= "#{@profile.role}" %></h3>
          <%end%>
        </div>
      <div class="col-xs-2 center add-friend">
        <% if session[:user_id] != @profile.user.id %>
          <%= link_to "Add Friend", friendships_path(:friend_id => @profile.user.id), :method => :post, class:"btn btn-danger " %>
        <!-- TODO if user is already friends alert already friends  -->
        <!-- if user is not firends offer creation of friendship -->
        <%else%>
         <%= button_to "Edit Profile", edit_profile_path, class:"btn btn-danger", method: :get %>
        <%end%>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12 location">
        <h4>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= "#{@profile.city} #{","} #{@profile.state}" %>
        </h4>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-xs-12">
        <h3>Bio</h3>
      </div>
    </div><!-- end row -->
      <div class="row">
        <div class="col-xs-12 employments indent">
          <p class="e"><%=@profile.bio%></p>
        </div>
      </div><!-- end row -->
      <div class="row ">
        <div class="col-xs-12">
          <h3>Employment History</h3>
        </div>
      </div><!-- end row -->
      <div class="row">
        <% @profile.employments.each do |e| %>
        <div class="col-xs-3 employments industry">
          <div class="indent">
            <%= link_to employment_path(e) do%>
            <%=e.industry %><br>
            <%=e.title%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3 employments industry">
          <%= link_to employment_path(e) do%>
          <span class="glyphicon glyphicon-map-marker" id="location-history" aria-hidden="true"></span>
          <%=e.city%>, <%= e.state %>
          <% end %>
        </div>
        <div class="col-xs-6 employments">
          <%= link_to employment_path(e) do%>
          <%=e.summary%>
          <% end %>
        </div>
        <%end%>
      </div>
    </div>
  </section>
<% else %>
<!-- if profile belongs to someone who hasn't filled this section out, don't display content,  -->
  <section>
    <!-- if profile belongs to the current user and has not filled out the seeker field, they see this message -->
      <% if current_user.id = @profile.user.id %>
     <div class="row">
       <div class="col-xs-12 center">
         <section>
            <div class="pending-seeker-status">
               <h1>To continue, please update your profile and select whether you are a sourcer or candidate.</h1>
               <%= button_to "Update Profile", edit_profile_path(@current_user.profile), id:"edit-profile", class:"btn btn-primary", method: :get %>
            </div>
         </section>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
