<section>
  <div class="container center">
    <h1>Login</h1>
    <%= form_tag sessions_path, method: :post do %>
      <div class="field">
        <%= text_field_tag :email, nil, placeholder: 'e-mail' %>
      </div></br>
      <div class="field">
        <%= password_field_tag :password, nil, placeholder: 'password' %>
      </div></br>
      <div>
        <a class="sign-up"><%= link_to "Sign-up", new_user_path %></a>
      </div>
      <div class="actions">
        <%= button_tag link_to "Cancel", root_path %>
        <%= button_tag "Log In", :class => 'submit-button'%>
      </div>
    <% end %></br>
  </div>
</section>
