<section>
  <div class="jumbotron">
    <h1>Your source for qualified candidates</h1>
  </div>
  <div id="welcome" class="container">
    <div id="outline">
      <div class="row">
        <div class="col-xs-6 middle-line center">
          <img class="welcome-icon" src="<%= asset_path( 'sourcer-icon.png' ) %>" alt="Sourcer icon" width="72px" height="74px"/>
          <h2 class="welcome-info">Find Someone to Refer</h2>
          <p class="info-text" align="left">Have a simple informational interview over lunch and refer qualified candidates. Grow your network, build relationships, create great teams, &#38; get referral bonuses.</p>
        </div>
        <div class="col-xs-6 middle-adjust center">
          <img class="welcome-icon" src="<%= asset_path( 'candidate-icon2.png' ) %>" alt="Candidate icon" width="72px" height="74px"/>
          <h2 class="welcome-info">Get a Referral</h2>
          <p class="info-text" align="left">Getting a phone screen or interview without knowing someone at a company can be a duanting task. Referrals are the proven way to make sure your application is reviewed.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center">
          <!-- Button trigger sign up modal -->
          <% if logged_in? %>
          <a class="btn btn-primary" href="/dashboard/">Go to Dashboard</a>
          <% else %>
          <button data-toggle="modal" data-target="#createUser" id="sign-up">Sign-Up</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="more-info" class="container parent">
    <div class="row">
      <div class="col-xs-12 center">
        <h2 id="how-to" class="center">How it Works</h2>
      </div>
    <div class="row">
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-setting2.png' ) %>" alt="Settings icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Filter Results</h2>
        <p class="info-text" align="justify">Filter by location, company, name, role, and department to get the best matches.</p>
      </div>
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-calendar2.png' ) %>" alt="Calendar icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Request a Meeting</h2>
        <p class="info-text" align="justify">Request a meeting with one click. If they agree, you'll set a time to meet.</p>
      </div>
      <div class="col-sm-4 center">
        <img class="welcome-icon" src="<%= asset_path( 'red-users.png' ) %>" alt="Users icon" width="100px" height="100px"/>
        <h2 class="welcome-info">Grow Your Network</h2>
        <p class="info-text" align="justify">Make new connections, build your network, grow relationships, and build great teams.</p>
      </div>
    </div>
  </div>

  <!-- Sign Up Modal -->
  <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign up</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

              <%= f.label :email %><br>
              <%= f.text_field :email %>
              </br>
              <%= f.label :password %><br>
              <%= f.password_field :password %>
              </br>
              <%= f.label :password_confirmation %><br>
              <%= f.password_field :password_confirmation %>
              </br>
              <%= f.submit %>
              </br>
          <% end %>
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" 
            data-toggle="modal" data-target="#logUser" data-dismiss="modal">Log In</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Login Modal -->
  <div class="modal fade" id="logUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log In</h4>
        </div>
        <div class="modal-body">
          <%= form_tag sessions_path, method: :post do %>
            <div class="field">
              <%= text_field_tag :email, nil, placeholder: 'e-mail' %>
            </div></br>
            <div class="field">
              <%= password_field_tag :password, nil, placeholder: 'password' %>
            </div></br>
            <div class="actions">
              <%= button_tag link_to "Cancel", root_path %>
              <%= button_tag "Log In", :class => 'submit-button'%>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" 
              data-toggle="modal" data-target="#createUser" data-dismiss="modal">Sign Up</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</section>
