<!DOCTYPE html>
<html>
<head>
  <title>Resourcer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
</head>
<body>
<% if (current_page?(controller:'welcome', action:'index'))%>
  <%= render partial: "./layouts/navhome" %>
<% else%>
  <%=render partial: "./layouts/navbar"%>
<%end%>
<%= yield %>
<%=render partial: "./layouts/footer"%>
</body>
</html>
